@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
  display: inline-flex;
  align-items: center;
}

.loading .spacer {
  margin-right: 2px;
}

.loading span {
  animation-name: blink, colorChange;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 1px;
}

.large span {
  width: 10px !important;
  height: 10px !important;
  margin: 0 2px !important;
}

.loading span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes colorChange {
  0% { background-color: rgb(239 68 68);}
  16% { background-color: rgb(249 115 22);}
  32% { background-color: rgb(234 179 8);}
  48% { background-color: rgb(34 197 94);}
  64% { background-color: rgb(59 130 246);}
  80% { background-color: rgb(99 102 241);}
  100% { background-color: rgb(168 85 247);}
}


@layer base {
  :root {
    --interactive1: 252 96% 59%;
    --interactive2: 252 100% 93%;
    --interactive3: 253, 100%, 97%;
    --neutral0: 219, 41%, 15%;
    --neutral1: 219, 29%, 29%;
    --neutral2: 219, 21%, 49%;
    --neutral3: 219, 21%, 89%;
    --background: 0, 0%, 97%;
    --accent1: 47, 98%, 81%;
    --accent2: 20, 100%, 86%;
    --accent3: 201, 96%, 73%;
    --accent4: 82, 45%, 74%;

    --background: var(--background);
    --foreground: var(--neutral0);
    --card: var(--background);
    --card-foreground: var(--neutral0);
    --popover: var(--background);
    --popover-foreground: var(--neutral0);
    --primary: var(--interactive1);
    --primary-foreground: var(--background); /* slightly darker than bg in theme */
    --secondary: var(--interactive3);
    --secondary-foreground: var(--neutral0);
    --muted: var(--interactive3);
    --muted-foreground: var(--interactive3);
    --accent: var(--interactive3);
    --accent-foreground: var(--interactive3);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: var(--background); /* slightly darker than bg in theme*/
    --border: var(--interactive3);
    --input: var(--interactive3);
    --ring: var(--interactive1);
    --radius: 1rem;
  }

  /* not updated */
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}
 
@layer base {
  /* * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  } */
}