@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-1: 254 234 159;
    --accent-2: 255 209 186;
    --accent-3: 122 206 252;
    --accent-4: 196 218 157;
    --interactive-1: #5A32FB;
    --interactive-2: #E0D9FF;
    --interactive-3: #F4F1FF;
    --neutral-0: #162135;
    --neutral-1: #34435F;
    --neutral-2: #627496;
    --neutral-3: #DCE0E8;
    --background: 0 0% 96.86%;
    --foreground: 218.71 41.33% 14.71%;
    --card: 0 0% 100%;
    --card-foreground: 218.71 41.33% 14.71%;
    --popover: 0 0% 100%;
    --popover-foreground: 218.71 41.33% 14.71%;
    --primary: 251.94 96.17% 59.02%;
    --primary-foreground: 0 0% 100%;
    --secondary: 251.05 100% 92.55%;
    --secondary-foreground: 251.94 96.17% 59.02%;
    --muted: 220 20.69% 88.63%;
    --muted-foreground: 219.23 20.97% 48.63%;
    --accent: 252.86 100% 97.25%;
    --accent-foreground: 251.94 96.17% 59.02%;
    --destructive: 0 65.33% 44.12%;
    --destructive-foreground: 0 0% 96.86%;
    --border: 220 20.69% 88.63%;
    --input: 220 20.69% 88.63%;
    --ring: 219.23 20.97% 48.63%;
    --radius: 2rem;
    --tw-prose-body: var(--neutral-1);
    --tw-prose-headings: var(--neutral-0);
    --tw-prose-lead: var(--neutral-2);
    --tw-prose-links: var(--neutral-0);
    --tw-prose-bold: var(--neutral-0);
    --tw-prose-counters:var(--neutral-3);
    --tw-prose-bullets: var(--neutral-3);
    --tw-prose-hr: var(--neutral-3);
    --tw-prose-quotes: var(--neutral-0);
    --tw-prose-quote-borders: var(--neutral-3);
    --tw-prose-captions: var(--neutral-2);
    --tw-prose-kbd: var(--neutral-0);
    --tw-prose-kbd-shadows: 17 24 39;
    --tw-prose-code: var(--neutral-0);
    --tw-prose-pre-code: var(--neutral-3);
    --tw-prose-pre-bg: var(--neutral-0);
    --tw-prose-th-borders: var(--neutral-3);
    --tw-prose-td-borders: var(--neutral-3);
  }

  /* not updated */
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}
